/* universal */
body {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: salmon;
}

/* nav bar */
nav {
  background-color: blue;
  margin: 0;
  overflow: hidden;
  ul {
    margin: 0;
    padding: 0;
    float: right;
    li {
      display: inline-block;
      list-style-type: none;
      color: #ffffff;
      line-height: 2em;
      padding: 0.5em 0.5em;
      text-decoration: none;
    }
  }
}
