.movieDetails ul {
  list-style: none;
  margin: 0 auto;
  text-align: left;
  width: 700px;
  margin-top: 50px;
}

.watchMovie {
  margin-top: 50px;
}

img {
  max-width: 300px;
  max-height: 140px;
}
